<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0825475 0.0319036 0.0218778" rpy="3.08026 3.05236 -0.803512" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0825475 0.0319036 0.0218778   0.0290506 0.0456253 0.918493 0.391721 camera_support_link camera_frame" />
</launch>