<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0401284 -0.0588014 0.0620733" rpy="3.09452 3.07844 3.10904" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0401284 -0.0588014 0.0620733   -0.0240307 0.0311769 -0.0170063 0.99908 panda_link8 camera_frame" />
</launch>
