<launch>
  <arg name="sim"      default="true" doc="Name of the panda robot to spawn" />

  <node name="camera_img_publisher" pkg="impose_grasp" 
        type="camera_img_publisher_node.py" output="screen"
    />

  <include file="$(find panda_qb_description)/launch/panda.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>
</launch>