<launch>
  <arg name="load_gripper" default = "true" />
  <arg name="qb_hand" default = "true" />
  <arg name="robot_ip" value = "172.16.0.2" />

  <!-- Launch the robot and controllers for the real robot -->
  <include if="$(arg qb_hand)" file="$(find panda_qb_description)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="load_gripper" value="$(arg load_gripper)"/>
  </include>

  <include unless= "$(arg qb_hand)" file="$(find panda_qb_description)/launch/franka_gripper_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="load_gripper" value="$(arg load_gripper)"/>
  </include>

  <!-- <include file="$(find panda_qb_description)/launch/camera_pose.launch" /> -->
  <!-- <include file="$(find panda_qb_description)/launch/pinch_pose.launch" /> -->

  <!-- Launch moveit planning execution -->
  <!-- <include unless = "$(arg load_gripper)" 
    file="$(find movit_config_only_panda)/launch/moveit_planning_execution.launch">
    <arg name="rviz_file" default="default"/>
  </include> -->

  <include if = "$(arg qb_hand)" 
    file="$(find movit_config_panda_qb_5)/launch/moveit_planning_execution.launch">
    <remap from="joint_states" to="robot/joint_states"/>
    <arg name="rviz_file" default="default"/>
    <arg name="use_gripper" default="$(arg load_gripper)"/>
  </include>

  <include unless = "$(arg qb_hand)" 
    file="$(find movit_panda_gripper)/launch/moveit_planning_execution.launch">
    <!-- <remap from="joint_states" to="robot/joint_states"/> -->
    <arg name="rviz_file" default="default"/>
  </include>
</launch>