<?xml version="1.0"?>
<robot name = "camera_support">
  <link name="camera_support_link">
    <visual>
      <origin rpy="${pi} 0 0" xyz="0 0 0.005"/>
      <geometry>
        <mesh filename="package://pandaqb_movegroup_control/meshes/around_support.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
      <color rgba="1 1 1 1"/>
      </material>
    </visual>  

    <collision>
      <origin rpy="${pi} 0 0" xyz="0 0 0.005"/>
      <geometry>
        <mesh filename="package://pandaqb_movegroup_control/meshes/around_support.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="panda_qb_link__camera_support_link" type="fixed">
      <parent link="panda_qb_link"/>
      <child link="camera_support_link"/>
  </joint>
</robot>
