<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_qb">

  <xacro:include filename="$(find pandaqb_movegroup_control)/urdf/pandaqb_robot.xacro"/>

  <xacro:arg name="arm_id" default="panda" />

  <xacro:qb_franka_robot
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}">
  </xacro:qb_franka_robot>

</robot>