<launch>
  <rosparam command="load" 
  file="$(find pandaqb_movegroup_control)/config/callibration_joint_states.yaml" />
  <rosparam command="load" 
  file="$(find pandaqb_movegroup_control)/config/move_group_params.yaml" />

  <node name="camera_callibration_control_node" pkg="pandaqb_movegroup_control" 
  type="camera_callibration_control_node" output="screen">
    <rosparam command="load" 
    file="$(find pandaqb_movegroup_control)/config/callibration_joint_states.yaml" />
    <rosparam command="load" 
    file="$(find pandaqb_movegroup_control)/config/move_group_params.yaml" />  
  </node>

</launch>