<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/eff_joint_traj_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find moveit_config_only_panda)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
    <!-- Start moveit simple controllers (for real robot)-->
    <arg name="moveit_controller_manager" value="fake" if="$(arg use_fake_hardware)"/>
    <!-- Start moveit fake controllers -->
    <arg name="moveit_controller_manager" value="simple" unless="$(arg use_fake_hardware)"/>
  </include>
  
  <!-- Launch rviz -->
   <include file="$(find moveit_config_only_panda)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find moveit_config_only_panda)/launch/moveit.rviz"/>
    <arg name="debug" value="false"/>
  </include>
</launch>