<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="sim" default = "true" />

  <!-- Launch the robot in Gazebo launch file if simulation -->
  <include if="$(arg sim)"
    file="$(find movit_config_only_panda)/launch/panda_gazebo_world.launch" />

  <!-- Launch the franka robot controllers for the real robot -->
  <include unless="$(arg sim)" 
    file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="robot" value="panda"/>
    <arg name="load_gripper" value="false"/>
  </include>

  <!-- Launch moveit planning execution -->
  <include file="$(find movit_config_only_panda)/launch/moveit_planning_execution.launch"/>
</launch>