catkin_pkg==0.5.2
cv_bridge==1.16.2
numpy==1.21.6
open3d==0.17.0
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
Pillow==10.0.0
pyrealsense2==2.53.1.4623
rospy==1.16.0
scipy==1.7.3
sensor_msgs==1.13.1
tensorflow==2.9.1
tf==1.13.2
