<?xml version="1.0"?>
<robot name = "camera_support">
  <!-- Create a link and a joint to connect the last link of the panda arm with the base of the qb hand -->  
  <joint name="panda_support_link__camera_support_link" type="fixed">
      <parent link="panda_link8"/>
      <child link="camera_support_link"/>
  </joint>

  <link name="camera_support_link">
    <visual>
      <origin rpy="0 0 -${pi/4}" xyz="-0.051 0.00 -0.009"/>
      <geometry>
        <mesh filename="package://pandaqb_movegroup_control/meshes/camera_support.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
      <color rgba="1 1 1 1"/>
      </material>
    </visual>  

    <collision>
      <origin rpy="0 0 -${pi/4}" xyz="-0.051 0.00 -0.009"/>
      <geometry>
        <mesh filename="package://pandaqb_movegroup_control/meshes/camera_support.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

    <inertial>
      <origin rpy="0 0 -${pi/4}" xyz="-0.051 0.00 -0.009"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.001" ixz="0.001" iyy="0.001" iyz="0.001" izz="0.001" />
    </inertial>

  </link>

</robot>
