<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="only_panda_robot" params="joint_limits">
    <xacro:arg name="gazebo" default="false" />
    <xacro:arg name="hand" default="false" />

    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />
    <xacro:franka_arm arm_id="panda" safety_distance="0.03" gazebo="$(arg gazebo)" joint_limits="${joint_limits}"/>

    <xacro:include filename="$(find panda_qb_description)/urdf/camera_support.xacro"/>
    
    <!-- Define additional Gazebo tags -->
    <xacro:if value="$(arg gazebo)">

      <xacro:arg name="xyz" default="0 0 0" />
      <xacro:arg name="rpy" default="0 0 0" />

      <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
      <link name="world" />
      <joint name="world_joint" type="fixed">
        <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
        <parent link="world" />
        <child  link="panda_link0" />
      </joint>

      <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/PositionJointInterface" />

      <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/VelocityJointInterface" />

      <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/EffortJointInterface" />

      <xacro:transmission-franka-state arm_id="panda" />
      <xacro:transmission-franka-model arm_id="panda"
          root="panda_joint1"
          tip="panda_joint8"
        />

      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <controlPeriod>0.001</controlPeriod>
          <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
        </plugin>
        <self_collide>true</self_collide>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
