<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="qb_panda_robot" params="joint_limits">
    <xacro:arg name="gazebo" default="false" />
    <xacro:arg name="hand" default="true" />

    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />
    <xacro:franka_arm arm_id="panda" safety_distance="0.03" gazebo="$(arg gazebo)" joint_limits="${joint_limits}"/>

    <xacro:include filename="$(find panda_qb_description)/urdf/qb_hand_wrist.xacro"/>

    <xacro:if value="$(arg hand)">
      <!-- Import the QB Hand and connect it to the created link -->
      <xacro:include filename="$(find qb_hand_description)/urdf/qbhand.utils.xacro"/>
      <xacro:build_hand_2m_from_yaml configuration="qbhand_right" namespace="qbhand2m1" parent="qb_hand_wrist">
        <origin xyz="0.018 0.0 0.063" rpy="${pi/2} 0 ${pi/2}"/>
      </xacro:build_hand_2m_from_yaml>

    <link name="pinch_link" />
    <joint name="pinch_joint" type="fixed">
      <origin xyz="-0.005 -0.017 0.030" rpy="0.174532925 0 0.523598775" />
      <parent link="qbhand2m1_end_effector_link" />
      <child  link="pinch_link" />
    </joint>
    </xacro:if>
  </xacro:macro>
</robot>
