<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_qb">
  <xacro:include filename="$(find panda_qb_description)/urdf/panda_gripper.xacro"/>

  <xacro:panda_robot
    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}">
  </xacro:panda_robot>
</robot>