<launch>
  <node name="camera_img_publisher" pkg="impose_grasp" 
        type="camera_img_publisher_node.py" output="screen"
    />

  <include file="$(find pandaqb_movegroup_control)/launch/panda.launch">
    <!-- <arg name="rviz_file" value="default"/> -->
    <arg name="gazebo" value="false"/>
  </include>
</launch>