<launch>
    <arg name="camera_sim" default = "false" />

    <!-- Image publisher and Object broadcaster nodes -->
    <node unless="$(arg camera_sim)" pkg="impose_grasp" type="img_publisher_node.py" 
        name="image_publisher" output="screen" />

    <node unless="$(arg camera_sim)" pkg="impose_grasp" type="object_broadcaster_node.py" 
        name="object_broadcaster_node" output="screen" />

    <!-- Fake object broadcaster node -->
    <node if="$(arg camera_sim)" pkg="impose_grasp" type="fake_obj_broadcaster_node.py" 
        name="fake_obj_broadcaster_node" output="screen" />
</launch>
