<launch>
    <param name="target_obj" type="string" value="cpsduck" />

    <node pkg="impose_grasp" type="target_grasp_publisher_node.py" 
        name="target_grasp_publisher_node" output="screen" />
        
    <node name="object_publisher_node" pkg="pandaqb_movegroup_control"
        type="object_publisher_node" output="screen"/>

</launch>
