<launch>
  <!-- The planning and execution components of MoveIt! configured to  -->
  <!-- publish the current configuration of the robot (simulated or real)  -->
  <!-- and the current state of the world as seen by the planner -->

  <!-- launch movegroup -->
  <include file="$(find movit_config_only_panda)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="moveit_controller_manager" value="panda" />
  </include>

  <!-- The visualization component of MoveIt! -->
  <include file="$(find movit_config_only_panda)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find movit_config_only_panda)/rviz/default.rviz"/>
  </include>
</launch>